.logo{
    
   background-image:url(pattern.png) ;
   color: lightblue;

}

.textdata{
color: gray;
}

.autore{
color: blue;
}

th{
color: white;
background-color: blue;
}
.prima{
    background-color: lightblue;
}
.terza{
    background-color: lightblue;
}
.giallo{
    background-color: yellow;
}
h3{color: gray;
}
h4{
    
    background-image: url(monitor.jpg);
    color:white;
    font-size: 140%;
    font-weight: normal;
    text-align:center;
     width: 240px;
    height: 150px;
    
    
}

.secondoh{
    background-image:url(graph.jpg);
    color:white;
    font-size: 140%;
    font-weight: normal;
    text-align:center;
     width: 240px;
    height: 150px;
    
}